
table {
    /* width: 1200px; */
    margin: 40px auto;
    padding: 20px;
    text-align: center;
  }
  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: aquamarine;
    padding: 15px;
  }
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }