<h2 style="text-align: center">Employee Dashboard</h2>
<div class="login-container">
  <form (ngSubmit)="saveUser()" #userForm="ngForm">
    <div>
      <label>First Name:</label>
      <input
      placeholder="Enter First Name"
        type="text"
        name="firstname"
        [(ngModel)]="newUser.firstname"
        required
      />
    </div>
    <div>
      <label>Last Name:</label>
      <input
      placeholder="Enter Last Name"
        type="text"
        name="lastname"
        [(ngModel)]="newUser.lastname"
        required
      />
    </div>
    <div>
      <label>Phone no:</label>
      <input
      placeholder="Enter Phone Number"
        type="number"
        name="phoneno"
        [(ngModel)]="newUser.phoneno"
        required
        onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
        maxlength="10"
        minlength="1"
      />
    </div>
    <div>
      <label>Address:</label>
      <input
      placeholder="Enter Address"
        type="text"
        name="address"
        [(ngModel)]="newUser.address"
        required
      />
    </div>
    <div>
      <label>Email:</label>
      <input placeholder="Enter Email" type="email" name="email" [(ngModel)]="newUser.email" required />
    </div>
    <button type="submit">Add User</button>
  </form>
</div>
